DB_NAME=db_name
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_PORT=db_port

# TESTING
USER_NAME=user_name
PASSWORD=password

SERVER_PORT=server_port

JWT_SECRET=jwt_secret
JWT_EXPIRATION=jwt_expiration

ADMIN_USERNAME=admin_user
ADMIN_PASSWORD=admin_password